Makefile
Makefile.in
_pkg.el
aclocal.m4
auto-autoloads.el
autom4te.cache
config.log
config.status
configure
custom-load.el
template-insert-config.el
*~
emacs-templates*tar.gz
/test_tmp
*.elc
loaddefs.el
Vagrantfile
.vagrant
template-insert.el
