;;
;;  File:	default-m.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     02/21/2009 08:24
;;

(or template-doc-desc
    (setq template-doc-desc ""))

(let* ( (class-name file-base-name)
	(include-name (concat class-name ".hm" ) )
	)

  (insert
   (template-insert-fragment "default-c-block.tmpl") "
#import \"" include-name "\"


@implementation "class-name"


@end

")

  (beginning-of-buffer) )

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

