;;
;;  File:	default-txt.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	template file
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     08/18/2001 05:35
;;

(insert
"# " file-name " - " timestamp "
#
# " copyright "
#
")



;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
