;;
;;  File:	default-el.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	The default template for an Emacs Lisp Source file (.el)
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     08/17/2001 13:20

(insert
";; " timestamp " " copyright "

")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
