;; default-pp.tmpl - 2013-10-10 10:54
;;
;; Copyright (c) Paul Houghton <paul4hough@gmail.com>

(insert
(template-insert-fragment "default-txt.tmpl")
)

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
