;;
;;  File:	default-C.tmpl
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     02/21/2002 08:24

(let* ( (class-name file-base-name)
	(include-name (concat class-name ".hh" ))
	)
  (insert
   (template-insert-fragment "default-c-block.tmpl")
   "
#include \"" include-name "\"

#if defined( " (upcase product-dir-name) "_DEBUG )
#include \"" class-name ".ii\"
#endif


"class-name"::"class-name"( void )
{
}

"class-name"::~"class-name"( void )
{
}

bool
"class-name"::good( void ) const
{
  return( true );
}

const char *
"class-name"::error( void ) const
{
  static Str errStr;

  errStr = "class-name"::getClassName();

  if( good() )
    {
      errStr << \": ok\";
    }
  else
    {
      size_t eSize = errStr.size();

      if( eSize == errStr.size() )
        errStr << \": unknown error\";
    }

  return( errStr.c_str() );
}

const char *
"class-name"::getClassName( void ) const
{
  return( \""class-name"\" );
}

ostream &
"class-name"::dumpInfo(
  ostream &	dest,
  const char *	prefix,
  bool		showVer
  ) const
{
  if( showVer )
    dest << "class-name"::getClassName() << \":\\n\"
	 << "class-name"::getVersion() << '\\n';

  if( ! "class-name"::good() )
    dest << prefix << \"Error: \" << "class-name"::error() << '\\n';
  else
    dest << prefix << \"Good\" << '\\n';


  return( dest );
}

"
    )

  (beginning-of-buffer)
  )

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

