;; default-c-block.tmpl - 08/18/2001 08:56
;;
;; Template for files that use 'c' style block comments.
;;
;; Copyright (c) 2001-2013 Paul Houghton <paul4hough@gmail.com>
;;

(insert
"/**
 " file-name " - " timestamp "

 " copyright "
**/
")

;; Local Variables:
;; mode:Emacs-lisp
;; End:
