;; 2002-02-21 (cc) Paul Houghton <paul4hough@gmail.com>

(let* ( (class-name file-base-name)
	(include-name (concat class-name ".hpp" ))
	)
  (insert
   "// " timestamp " " copyright "

#include \"" include-name "\"


"class-name"::"class-name"( void )
{
}

"class-name"::~"class-name"( void )
{
}

bool
"class-name"::good( void ) const
{
  return( true );
}

const char *
"class-name"::error( void ) const
{
  static Str errStr;

  errStr = "class-name"::getClassName();

  if( good() )
    {
      errStr << \": ok\";
    }
  else
    {
      size_t eSize = errStr.size();

      if( eSize == errStr.size() )
        errStr << \": unknown error\";
    }

  return( errStr.c_str() );
}

const char *
"class-name"::getClassName( void ) const
{
  return( \""class-name"\" );
}

ostream &
"class-name"::dumpInfo(
  ostream &	dest,
  const char *	prefix,
  bool		showVer
  ) const
{
  if( showVer )
    dest << "class-name"::getClassName() << \":\\n\"
	 << "class-name"::getVersion() << '\\n';

  if( ! "class-name"::good() )
    dest << prefix << \"Error: \" << "class-name"::error() << '\\n';
  else
    dest << prefix << \"Good\" << '\\n';


  return( dest );
}

"
    )

  (beginning-of-buffer)
  )

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
