;;
;;  File:	default-tmpl.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton < paul4hough@gmail.com>
;;  Created:     08/18/2001 05:38
;;

(insert
(template-insert-fragment "default-el.tmpl")
"

(or template-doc-desc
    (setq template-doc-desc \"\"))

(insert
\"<!--
 \" file-name \" - \" timestamp \"

 \" copyright \"
..>
\")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
