;;
;; default-py.tmpl - 2013-10-10 23:02
;;
;; Copyright (c) Paul Houghton <paul4hough@gmail.com>

(insert
"#!/usr/bin/env python3

''' " file-name " - " timestamp "


" copyright "
'''
import sys
import os
import subprocess as sp

class " file-base-name " (object):
    ''' " file-base-name " useless class
    '''

    def __init__(self, *args, **kwargs):
        '''anything interesting?''''
        pass

    def method(self, *args, **kwargs):
        '''worthless method
        '''
        pass

def main():
    '''Application entry point
    '''
    print('do nothing')
    sys.exit(2)
    
if __name__ == '__main__':
    main()
")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
