;;
;;  File:	default-dtd-block.tmpl
;;  Project:	Xemacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Notes:
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     05/24/2002 09:10

;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;


(or template-doc-desc
    (setq template-doc-desc ""))

(insert
"<!-- ============================================================
 " file-name " - " timestamp "

 " copyright "
 ============================================================ -->
")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

