;;
;;  File:	default-xml.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     02/13/2002 05:49
;;

(or template-doc-desc
    (setq template-doc-desc ""))

(insert
"<?xml version=\"1.0\" encoding=\"US-ASCII\"?>
<!--
 " file-name " - " timestamp "

 " copyright "
-->



<!-- Xemacs Local Variables -->

<!-- Local "
"Variables: -->
<!-- mode:xml -->
<!-- End: -->

")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

