;;
;; default-bash.tmpl - 2013-10-12 12:16
;;
;; Copyright (c) 2013 Paul Houghton <paul4hough@gmail.com>

(insert
 "#!/bin/bash
"
 (template-insert-fragment "default-txt.tmpl")
)

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
