;;
;;  File:	default-tmpl.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton < paul4hough@gmail.com>
;;  Created:     08/18/2001 05:38
;;

(insert
(template-insert-fragment "default-el.tmpl")
"
;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;

(or template-doc-desc
    (setq template-doc-desc \"\"))

(insert
\"
; example variables
(let* ( (class-name file-base-name)
	(include-name (concat class-name \".hh\" ))
	)
  (insert
   (template-insert-fragment \"default-c-block.tmpl\")
   \"
   # your stuff here
   \"))
\"
)

")
