;;
;;  File:	default-pl.tmpl
;;  Project:	EmacsTemplates 
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Notes:
;;    
;;  Author(s):   Paul Houghton <pahoughton@users.sourceforge.net>
;;  Created:     08/18/2001 11:10
;;  
;;  Revision Info: (See ChangeLog or cvs log for revision history)
;;  
;;	$Author$
;;	$Date$
;;	$Revision$
;;	$State$
;;
;;  $Id$
;;


;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;	

(or template-doc-desc
    (setq template-doc-desc ""))

(insert "#!" (getenv "TOOL_DIR") "/bin/perl
" (template-insert-fragment "default-txt.tmpl") "
eval 'exec perl -w -S $0 ${1+\"$@\"}'
    if 0 ;

use warnings;
#use DBI;
#use DBD::Pg qw(:pg_types);
#use File::Basename;
#use File::Find;
#use MP4::File;
#use Meta::TMDb;
#use Meta::IMDB;
#use Term::ReadLine;
#use Data::Dumper;
#use POSIX;
#use Text::CSV;
#use DVD::Read;
#use Encode;
#use LWP;
#use MP4::Info;
#use XML::Parser;
#use Imager;
use SMK::Config;

my $smk_config = new SMK::Config;

#my $dbh = DBI->connect($smk_config->digit_db_dsn,
#                       $smk_config->digit_db_user,
#                       $smk_config->digit_db_pass,
#                       { RaiseError => 1, AutoCommit => 0 } );
#

package " file-base-name ";



## Local Variables:
## mode:perl
## end:
"
)


;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
