;;
;;  File:	default-ii.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     02/21/2002 08:41
;;


;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;

(let* ((define-name (concat "_" (replace-regexp-in-string
				  "\\.h$"
				  "_h_"
				  file-name )))
       (class-name file-base-name)
       )

  (insert
"#ifndef " define-name "
#define " define-name "
"  (template-insert-fragment "default-c-block.tmpl") "

#if defined( " (upcase product-dir-name) "_DEBUG )
#define inline
#endif

#if defined( inline )
#undef inline
#endif


/**
  Set XEmacs mode

  Local " "Variables:
  mode: c++
  End:
**/

#endif // ! def " define-name "
")
  (beginning-of-buffer)
)
;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

