;;
;;  File:	default-xsl.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     05/29/2002 06:28


(or template-doc-desc
    (setq template-doc-desc ""))

(insert
"<?xml version=\"1.0\" encoding=\"US-ASCII\"?>
<!DOCTYPE xsl:stylesheet
   PUBLIC \"-//W3C//DTD XSLT Stlyesheet//EN\"
	  \"w3c/xsl.dtd\" >
<!--
 " file-name "
 " copyright "
-->

<xsl:stylesheet version=\"1.0\" xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\">

  <xsl:output method=\"html\"
	      doctype-public=\"-//W3C//DTD HTML 3.2 Final//EN\"/>

  <xsl:param name=\"SUBDIR.INDEX\">/index.html</xsl:param>

</xsl:stylesheet>


<!-- Xemacs Local Variables -->

<!-- Local " "Variables: -->
<!-- mode:xml -->
<!-- End: -->
")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

