;;
;;  File:	main.C.tmpl
;;  Project:	emacs-templates
;;  Desc:
;;
;;	Emacs Lisp source
;;
;;  Author(s):   Paul Houghton <paul4hough@gmail.com>
;;  Created:     02/21/2002 08:57

(or template-doc-desc
    (setq template-doc-desc "Application entry point."))

(let* ( (func-name file-base-name)
	)
  (insert
   (template-insert-fragment "default-c-block.tmpl")

   "
#include <iostream>



int
" func-name "( int argc, char * argv[] )
{

}

")
  (beginning-of-buffer)
  )

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

