;; README.md.tmpl - 2013-10-10 23:51
;;
;; Copyright (c) 2013 Paul Houghton <paul4hough@gmail.com>

(insert
 "## " product-dir-name "

[![Test Build Status](https://travis-ci.org/" template-travis-user
 "/" product-dir-name ".png)](https://travis-ci.org/"
 template-travis-user "/" product-dir-name ")

 This useless project is here to distract you

## Features

NONE

## Install

Can't

## Usage

You wouldn't want to.

## Contribute

[Github " template-github-user "/" product-dir-name
 "](https://github.com/" template-github-user "/" product-dir-name ")

## Licenses

" copyright "

[![LICENSE](http://i.creativecommons.org/l/by/3.0/88x31.png)](http://creativecommons.org/licenses/by/3.0/)

[![endorse](https://api.coderwall.com/pahoughton/endorsecount.png)](https://coderwall.com/" template-coderwall-user ")
")
;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
