;;
;;  File:	default-el.tmpl
;;  Project:	EmacsTemplates
;;  Desc:
;;
;;	The default template for an Emacs Lisp Source file (.el)
;;
;;  Notes:
;;    
;;  Author(s):   Paul Houghton <pahoughton@users.sourceforge.net>
;;  Created:     08/17/2001 13:20
;;  
;;  Revision History: (See ChangeLog for Details
;;  
;;	$Author$
;;	$Name$
;;	$Date$
;;	$Revision$
;;	$State$
;;
;;  $Id$
;;


(insert 
";;
;;  File:	" file-name "
;;  Project:	" (template-get-project-name)
		  " "
		  (template-ver-string 'project) "
;;  Desc:
;;
;;	Emacs Lisp source
;;  
;;  Notes:
;;    
;;  Author(s):   " (user-full-name) " <" email ">
;;  Created:     " timestamp "
;;  
;;  Revision History: (See end of file for Revision Log)
;;  
;;	" (template-ver-string 'author) "
;;	" (template-ver-string 'date) "
;;	" (template-ver-string 'tag) "
;;	" (template-ver-string 'version) "
;;	" (template-ver-string 'state) "
;;
;;  " (template-ver-string 'id) "
;;

")


;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:
