;;
;;  File:	default-sql.tmpl
;;  Project:	EmacsTemplates 
;;  Desc:
;;
;;	Emacs Lisp source
;;  
;;  Notes:
;;    
;;  Author(s):   Paul Houghton <<paul.houghton@wcom.com>>
;;  Created:     08/18/2001 22:12
;;  
;;  Revision History: (See end of file for Revision Log)
;;  
;;	$Author$
;;	$Date$
;;	$Revision$
;;	$State$
;;
;;  $Id$
;;


;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;	

(or template-doc-desc
    (setq template-doc-desc ""))

(insert
"/**
  File:		" file-name "
  Project:	" (template-get-project-name)
		  " "
		  (template-ver-string 'project) "
  Desc:

    " template-doc-desc "
  
  Notes:
    
  Author(s):   " (user-full-name) " " email "
  Created:     " timestamp "
  
  Revision History: (See ChangeLog for details)
  
    " (template-ver-string 'author) "
    " (template-ver-string 'date) "
    " (template-ver-string 'version) "
    " (template-ver-string 'state) "

  " (template-ver-string 'id) "

**/
")

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

