;;
;;  File:	main.C.tmpl
;;  Project:	EmacsTemplates 
;;  Desc:
;;
;;	Emacs Lisp source
;;  
;;  Notes:
;;    
;;  Author(s):   Paul Houghton <<paul.houghton@wcom.com>>
;;  Created:     02/21/2002 08:57
;;  
;;  Revision History: (See end of file for Revision Log)
;;  
;;	$Author$
;;	$Date$
;;	$Name$
;;	$Revision$
;;	$State$
;;
;;  $Id$
;;


;;
;; Available Template Variables:
;;
;;  file-name
;;  file-base-name
;;  file-ext
;;  email
;;  timestamp
;;
;; Available Template Functions
;;
;;  (template-ver-string  tag)
;;	where tag can be one of:
;;	    'project | 'author | 'date | 'version | 'state | 'id | 'log
;;
;;  (template-get-project-name)
;;
;;  (template-insert-fragment tmpl-file)
;;	Return a string containing the processed contents of
;;	a template file. See Makefile.tmpl for a usage example.
;;	

(or template-doc-desc
    (setq template-doc-desc "Application entry point."))

(let* ( (func-name file-base-name)
	(prj-name (template-get-project-name))
	)
  (insert
"/**
  File:		" file-name "
  Project:	" prj-name
		  " "
		  (template-ver-string 'project) "
  Desc:

    " template-doc-desc "
  
  Notes:
    
  Author(s):   " (user-full-name) " " email "
  Created:     " timestamp "
  
  Revision History: (See ChangeLog for details)
  
    " (template-ver-string 'author) "
    " (template-ver-string 'date) "
    " (template-ver-string 'version) "
    " (template-ver-string 'state) "

  " (template-ver-string 'id) "

**/
#include \"" prj-name "Config.hh\"
#include \"AppParam.hh\"

#include <iostream>

AppParam * App = 0;


int
" func-name "( int argc, char * argv[] )
{

  if( (App = new AppParam( argc, argv, PROGRAM_INFO_OBJECT ) ) == 0 )
    {
      cerr << \"Can't new AppParam.\" << endl;
      exit( 1 );
    }

  if( ! (*App).good() || (*App).help() || ! (*App).allArgs() )
    (*App).abort( 1, true, __FILE__, __LINE__ );

  bool status( true );

  AppInfo << (*App).appName() << \"(\" << (*App).getpid()
          << \") started.\" << endl;


  if( status )
    AppInfo << (*App).appName() << \"(\" << (*App).getpid()
            << \") completed.\" << endl;
  else
    AppError << (*App).appName() << \"(\" << (*App).getpid()
             << \") ABROTED(1)!\" << endl;

  delete App;

  return( status ? 0 : 1 );
}

")
  (beginning-of-buffer)
  )

;;; Local Variables:
;;; mode:Emacs-Lisp
;;; end:

